<div class="container text-center">
    <h1 class="page-title">500 - Server Error</h1>
    <p>Something went wrong on our end. Please try again later.</p>
    <a href="/" class="btn btn-primary">Go Home</a>
</div>